<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="GFX Cube Example (C++)"
        android:hasCode="false">
        
        <!-- 16KB page size compatibility declaration -->
        <property
            android:name="android.app.16kb_pages.enabled"
            android:value="true" />
        
        <activity android:name="android.app.NativeActivity"
            android:label="GFX Cube Example (C++)"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:exported="true">
            
            <!-- Tell NativeActivity the name of our native library -->
            <meta-data android:name="android.app.lib_name"
                android:value="cube_example_android_cpp" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
